.viewport {
  height: 95%;
}

.header {
  grid-area: header;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90%;
}

.footer {
}

.left {
  flex-grow: 1;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  max-height: inherit;
}

.main {
  grid-area: main;
  flex-grow: 4;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 1em;
  max-height: inherit;
}

.right {
  grid-area: right;
  flex-grow: 1;
  border-radius: 1em;
  max-height: inherit;
}

.island {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  max-height: 100%;
}

section {
  padding: 10px;
}
